{% extends "base.html" %}

{% block menu %}
<ul class="menu">
    <li><a class="item" href="/">Inicio</a></li>
    <li class="active"><a class="item" href="#">Ver mascotas</a>
        <ul>
             <li><a href="/mostrar/mascotas/a/">Adopcion</a></li>
             <li><a href="/mostrar/mascotas/p/">Perdidos</a></li>
             <li><a href="/mostrar/mascotas/e/">Encontrados</a></li>
        </ul>
    </li>
    <li><a class="item" href="/zoonosis/">Zoonosis</a></li>
    <li><a class="item" href="/contacto/">Contacto</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="main">
  <div class="container_12">
    <div class="wrapper">
      <strong class="text-1" >Mascotas {{ tipo }}</strong><br>
      <article class="grid_perros">
        <br><strong class="text-2">Perros!</strong>
        {% for animal in perros %}
		<div class="tabla-muestra" >
 	               <div class="foto-animal">
			{% if animal.image %}
		              <img class="figure" src="{{ animal.image.url_150x150 }}" />
			{% else %}
 	                      <img class="figure" src="/static/images/imagenprueba.png">
			{% endif %}
                       </div>
                       <div class="columna-datos">
	                       <div class="animal-datos">
					{{ animal.nombre }}, {{ animal.get_sexo_display }}, {{ animal.get_tamanio_display }}, {{ animal.get_edad_display }}, {{ animal.raza }}
                               </div>
                               <div class="persona-datos">
	                               <div class="titulo-persona">
 	                                      Datos del due&ntilde;o:
                                       </div>
					{% if animal.telefono %}
                                       <div class="dato-izquierda">Telefono:</div>   <div class="dato-derecha">{{ animal.telefono }}</div>
					{% endif %}
                                       <div class="dato-izquierda">E-mail:</div>   <div class="dato-derecha">{{ animal.mail }}</div>
					{% if animal.comentario %}
                                       <div class="dato-izquierda">Comentario:</div>   <div class="dato-derecha">{{ animal.comentario }}</div>
					{% endif %}
                               </div>
                       </div>
                </div> 
        {% endfor %}
	{% if perros_z %}
        {% for animal in perros_z %}
		<div class="tabla-muestra" >
 	               <div class="foto-animal">
			{% if animal.image %}
                              <img class="figure" src="{{ animal.image.url_150x150 }}" />
                        {% else %}
 	                      <img class="figure" src="/static/images/imagenprueba.png">
			{% endif %}
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.sanluismascotas.com.ar&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=240811205986130" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
                       </div>
                       <div class="columna-datos">
	                       <div class="animal-datos">
					{{ animal.nombre }}, {{ animal.get_sexo_display }}, {{ animal.get_tamanio_display }}, {{ animal.get_edad_display }}, {{ animal.raza }}
                               </div>
                               <div class="persona-datos">
	                               <div class="titulo-persona">
 	                                      Datos del due&ntilde;o:
                                       </div>
                                       <div class="dato-izquierda">Telefono:</div>   <div class="dato-derecha">4459877</div>
                                       <div class="dato-izquierda">E-mail:</div>   <div class="dato-derecha">zoonosis@hotmail.com</div>
					{% if animal.comentario %}
                                       <div class="dato-izquierda">Comentario:</div>   <div class="dato-derecha">{{ animal.comentario }}</div>
					{% endif %}
                               </div>
                       </div>
                </div> 
	{% endfor %}
      {% endif %}
      </article>
      <article class="grid_gatos">
        <br><strong class="text-2">Gatos!</strong>
        {% for animal in gatos %}
		<div class="tabla-muestra" >
 	               <div class="foto-animal">
			{% if animal.image %}
                              <img class="figure" src="{{ animal.image.url_150x150 }}" />
                        {% else %}
 	                      <img class="figure" src="/static/images/imagenprueba2.png">
			{% endif %}
                       </div>
                       <div class="columna-datos">
	                       <div class="animal-datos">
					{{ animal.nombre }}, {{ animal.get_sexo_display }}, {{ animal.get_tamanio_display }}, {{ animal.get_edad_display }}, {{ animal.raza }}
                               </div>
                               <div class="persona-datos">
	                               <div class="titulo-persona">
 	                                      Datos del due&ntilde;o:
                                       </div>
					{% if animal.telefono %}
                                       <div class="dato-izquierda">Telefono:</div>   <div class="dato-derecha">{{ animal.telefono }}</div>
					{% endif %}
                                       <div class="dato-izquierda">E-mail:</div>   <div class="dato-derecha">{{ animal.mail }}</div>
					{% if animal.comentario %}
                                       <div class="dato-izquierda">Comentario:</div>   <div class="dato-derecha">{{ animal.comentario }}</div>
					{% endif %}
                               </div>
                       </div>
                </div> 
	{% endfor %}
	{% if gatos_z %}
        {% for animal in gatos_z %}

		<div class="tabla-muestra" >
 	               <div class="foto-animal">
			{% if animal.image %}
                              <img class="figure" src="{{ animal.image.url_150x150 }}" />
                        {% else %}
 	                      <img class="figure" src="/static/images/imagenprueba2.png">
			{% endif %}
                       </div>
                       <div class="columna-datos">
	                       <div class="animal-datos">
					{{ animal.nombre }}, {{ animal.get_sexo_display }}, {{ animal.get_tamanio_display }}, {{ animal.get_edad_display }}, {{ animal.raza }}
                               </div>
                               <div class="persona-datos">
	                               <div class="titulo-persona">
 	                                      Datos del due&ntilde;o:
                                       </div>
                                       <div class="dato-izquierda">Telefono:</div>   <div class="dato-derecha">4459877</div>
                                       <div class="dato-izquierda">E-mail:</div><div class="dato-derecha">zoonosis@hotmail.com</div>
					{% if animal.comentario %}
                                       <div class="dato-izquierda">Comentario:</div>   <div class="dato-derecha">{{ animal.comentario }}</div>
					{% endif %}
                               </div>
                       </div>
                </div> 
	{% endfor %}
      {% endif %}
      </article>
    </div>
  </div>
</div>

{% endblock %}
